body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

a.col:link, a.col:hover, a.col:visited{
	color: #337ab7;
	text-decoration: none;
}

p.info {
	margin-top:20px;
	color: #337ab7;
	text-decoration: none;
}

.inputNombre{
	max-width:150px;
}

.inputExpresion{
	max-width:400px;
}

.submitIndicador{
	max-width:100px;
}